*
body
{
    margin: 0px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #000000;
    overflow: hidden;
}
.square
{
    position: relative;
    width: 300px;
    height: 310px;
    border: 2px solid orangered;
}
.square::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid orangered;
    border-radius: 50%;
    mask: linear-gradient(to top, orangered 50%, transparent 50%);
    z-index: 1;
    box-sizing: border-box;
}
.point
{
    position: relative;
    background: orangered;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: move 0.99s infinite ease-in-out alternate-reverse;
    offset-path: path('M 10 85 C 10 150 0 290 150 300 M 150 300 C 300 285 290 158 290 80 M 0 0');
}
@keyframes move {
    0%
    {
        offset-distance: 0%;
    }
    100%
    {
        offset-distance: 100%;
    }
}